.app.dark {
    --bg-color:#020343;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #007b04;
    --secondary-color: #173b18;
    --inverted-primary-color: #00006a;
    --inverted-secondary-color: #2b0098;
}
 