.app.light {
    --bg-color:#e8e8ea;
    --inverted-bg-color: #020343;

    --primary-color: #00006a;
    --secondary-color: #2b0098;
    --inverted-primary-color: #007b04;
    --inverted-secondary-color: #173b18;
}